
:root {
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);

    --card-width: 320px;
 
    --border-radius: 24px;

    --font-size-regular: 15px;
    --font-size-big: 22px;

    --line-spacing-title: 1.2;
    --line-spacing-content: 1.4;

    --letter-spacing-regular: 0.2px;
    --letter-spacing-big: 0px;

    --font-weight-regular: 400;
    --font-weight-big: 700;

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-slate-300);
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container {
    margin-top: auto;
    background-color: white;
    
    height: auto;
    width: var(--card-width);
    border-radius: var(--border-radius);
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-500) var(--spacing-200);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.qr-code {
    width: var(--card-width);
    height: var(--card-width);
    border-radius: calc(var(--border-radius)/2);
}

 .par-regular-regular{
    text-align: center;
    color: var(--color-slate-500);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    text-align: center;
    letter-spacing: var(--letter-spacing-regular);
    line-height: var(--line-spacing-content);
    margin: 0px var(--spacing-300) 0px var(--spacing-300);
 }

 .par-big-bold{
    text-align: center;
    color: var(--color-slate-900);
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
    letter-spacing: var(--letter-spacing-big);
    line-height: var(--line-spacing-title);
    margin: var(--spacing-300) var(--spacing-300) var(--spacing-200) var(--spacing-300);
}

.card-link{
    text-decoration: none;
    color: inherit;
}

.attribution { 
    justify-self: flex-end;
    margin-top: auto;

    text-align: center; 
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-regular);
    line-height: var(--line-spacing-content);
}

.attribution a { 
    text-decoration: none;
    color: inherit;
}

